fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
mlflow==2.16.2
scikit-learn==1.5.1
xgboost==2.1.1
pandas==2.2.2
numpy==1.26.4

# Storage
boto3==1.35.21
psycopg2-binary==2.9.9
sqlalchemy==1.4.53
pgvector==0.3.6

# Embeddings
sentence-transformers==3.1.1
torch==2.4.1
--extra-index-url https://download.pytorch.org/whl/cpu
